*.iml
/android/local.properties
/android/.idea/caches
/android/.idea/libraries
/android/.idea/shelf
/android/.idea/assetWizardSettings.xml
/android/.idea/modules.xml
/android/.idea/navEditor.xml
/android/.idea/workspace.xml
/android/.gradle/
/android/app/build/generated
/android/app/build/intermediates
/android/app/build/tmp
/android/app/proguard-rules.pro
/android/build
.DS_Store
/captures
.externalNativeBuild
.cxx
/htmljs/.vs/
