*.iml
/local.properties
/.idea/caches
/.idea/libraries
/.idea/shelf
/.idea/assetWizardSettings.xml
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/workspace.xml
/.gradle/
/app/build/generated
/app/build/intermediates
/app/build/tmp
/app/proguard-rules.pro
/build
.DS_Store
/captures
.externalNativeBuild
.cxx
